<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ 'protocol.Protocols' | translate:params }}
        </ion-title>
        <ion-back-button *ngIf="isComponentLikeModal" text=""
            defaultHref="{{ backDefaultHref || '/guide-categories' }}">
        </ion-back-button>
        <sync-spinner-component slot="primary"></sync-spinner-component>
    </ion-toolbar>
</ion-header>

<ion-content class="grey-background protocol-content">
    <ion-list *ngFor="let protocol of protocolList">
        <ion-item>
            <ion-label>
                <h2>{{ 'protocol.Protocol' | translate:params }}:
                    <span *ngIf="protocol.name">{{ protocol.name }}</span>
                </h2>
                <p>
                    {{ (protocol.local_created_at || protocol.created_at) | datePipe: 'dd.MM.yyyy hh:mm:ss' }}
                </p>
                <p *ngIf="protocol.workflowStep && protocol.workflowStep.name">
                    {{ 'protocol.Workflow Step' | translate:params }}: {{protocol.workflowStep.name}}
                </p>
                <p *ngIf="protocol.workflowStep && protocol.workflowStep.assignee">
                    {{ 'protocol.Assignee' | translate:params }}: {{protocol.workflowStep.assignee}}
                </p>
                <p *ngIf="protocol.workflowStep && !protocol.workflowStep.assignee">
                    {{ 'protocol.Assignee' | translate:params }}: {{ 'All' | translate:params }}
                </p>
            </ion-label>
            <ion-button *ngIf="protocol.workflowStep && protocol.canEditProtocol" slot="end" fill="clear"
                (click)="openAddEditPage(protocol[protocol.COL_ID])">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
    <div style="height: 70px;">
    </div>
    <ion-fab *ngIf="userCanCreateProtocol" vertical="bottom" horizontal="end" slot="fixed" (click)="openAddEditPage()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>