<style>
    .language-icon {
        font-size: 25px;
    }
</style>

<ion-item>
    <ion-icon class="language-icon" name="globe" color="success"></ion-icon>
    <ion-label>
        {{ 'language-selector.Language' | translate:params }}
    </ion-label>
    <ion-select [(ngModel)]="selectedLanguage"
                (ionChange)="languageChanged()"
    >
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="de">Deutsch</ion-select-option>
    </ion-select>
</ion-item>
