<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'protocol.Protocol' | translate:params }}
    </ion-title>
    <ion-back-button text=""></ion-back-button>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item *ngIf="model.name">
        <ion-label>
          <span>
              Name
          </span>
          </ion-label>
          <span class="ion-align-items-end">
              {{ model.name }}
          </span>
      </ion-item>
      <protocol-default-component [protocol]="model"
                                  [protocol_form]="protocol_form"
                                  [isInsert]="!!!model[model.COL_ID]"
      >
      </protocol-default-component>
    </ion-list>
    <ion-item  *ngIf="model[model.COL_ID] && model.canFillProtocol">
      <ion-label>
        {{ 'protocol.Comment' | translate:params }}
      </ion-label>
      <ion-textarea [(ngModel)]="comment"
                    name="'comment'"
                    rows="8"
                    cols="33"
                    style="display: block;"
      >
      </ion-textarea>
    </ion-item>
    <span margin *ngIf="!model[model.COL_ID] || (model.workflowStep && model.workflowStep.type !== 'final')">
      <ion-button *ngIf="model.canEditProtocol"
                  slot="start"
                  (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
          {{ 'save' | translate:params }}
      </ion-button>
      <div *ngIf="model[model.COL_ID] && model.canFillProtocol">
        <div margin>
          <h3>{{ 'protocol.Workflow process' | translate:params }}</h3>
          <ion-button *ngFor="let nextWorkflowTransition of model.workflowStep.workflowStepNextTransitions"
                  color="medium"
                  size="default"
                  fill="outline"
                  slot="end"
                  (click)="transition(nextWorkflowTransition)"
          >
            <ion-icon slot="start" name="checkmark"></ion-icon>
            {{ nextWorkflowTransition.action_key }}
          </ion-button>
          </div>
      </div>
    </span>
  </form>
  <div margin><h4>{{ 'protocol.Workflow history' | translate:params }}</h4></div>
  <ion-list>
    <ion-item *ngFor="let comment of model.comments">
      <fa-icon [icon]="comment.icon" size="2x" slot="start" [ngStyle]="{'color': comment.colour}"></fa-icon>
      <ion-card [ngStyle]="{'padding': '10px', 'width': '100%'}">
        <span [ngStyle]="{'color': '#3c8dbc'}">
          {{ comment.creator }}
        </span>
        <br>
        <span>
          {{ comment.body }}
        </span>
        <br>
        <span class="time">
          <fa-icon [icon]="faClock"></fa-icon>
              {{ ((comment.local_created_at || comment.created_at) | dateAgo) | async }}
        </span>
      </ion-card>
    </ion-item>
    <ion-item *ngIf="model[model.COL_ID]">
      <fa-icon [icon]="faUser" size="2x" slot="start" [ngStyle]="{'color': '#00c0ef'}"></fa-icon>
      <ion-card  [ngStyle]="{'padding': '10px', 'width': '100%'}">
        <span *ngIf="model.creator" [ngStyle]="{'color': '#3c8dbc'}">
          {{ model.creator }}
        </span>
        <br *ngIf="model.creator">
        <span>
            {{ 'protocol.Created' | translate:params }}
          </span>
        <br>
        <span class="time">
            <fa-icon [icon]="faClock"></fa-icon>
          {{ ((model.local_created_at || model.created_at) | dateAgo) | async  }}
          </span>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
