<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ 'feedback.header' | translate:params }}
        </ion-title>
        <ion-buttons *ngIf="isComponentLikeModal" slot="end">
            <ion-button (click)="dismiss()">
                {{ 'close' | translate:params }}
            </ion-button>
        </ion-buttons>
        <sync-spinner-component slot="primary"></sync-spinner-component>
    </ion-toolbar>
</ion-header>

<ion-content>
<!--    <ion-virtual-scroll [items]="feedbackList">-->
<!--        <ion-list  *virtualItem="let feedback;">-->
        <ion-list *ngFor="let feedback of feedbackList">
            <ion-item>
                <ion-thumbnail slot="start">
                    <div *ngIf="feedback.attached_file">
                        <div style="width: 70px;height: 70px;">
                            <img *ngIf="feedback.isImageAttachedFile()"
                                 (click)="openFile(feedback.getApiFilePath(), feedback.TABLE_NAME, feedback.attached_file)"
                                 [src]="feedback.getFile()"
                            >
                            <ion-icon name="videocam"
                                      class="videocam"
                                      slot="start"
                                      *ngIf="feedback.isVideoAttachedFile()"
                                      (click)="openFile(feedback.getApiFilePath(), feedback.TABLE_NAME)"
                            >
                            </ion-icon>
                            <ion-icon *ngIf="!feedback.isImageAttachedFile() && !feedback.isVideoAttachedFile()"
                                      class="cloud-upload"
                                      name="cloud-upload"
                            >
                            </ion-icon>
                        </div>
                        <ion-item>
                            {{ feedback.attached_file }}
                        </ion-item>
                    </div>
                </ion-thumbnail>
                <ion-label>
                    <p>
                        {{ feedback.description }}
                    </p>
                </ion-label>
                <ion-button slot="end" fill="clear"
                            *ngIf="feedback.isOpenStatus()"
                            [routerLink]="['save/' + feedback.idApi]"
                >
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
<!--    </ion-virtual-scroll>-->
    <div style="height: 70px;">
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed"
             [routerLink]="['save']"
    >
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

