<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-with-sync-indicator></ion-menu-with-sync-indicator>
    </ion-buttons>
    <ion-title> {{ 'feedback.header' | translate:params }} </ion-title>
    <!-- <ion-back-button *ngIf="isComponentLikeModal" text="" defaultHref="{{ backDefaultHref || '/guide-categories' }}">
    </ion-back-button> -->
    <!-- <ion-back-button *ngIf="isComponentLikeModal" text=""></ion-back-button> -->

    <ion-buttons slot="primary">
      <ion-back-button style="color: #ffffff;" *ngIf="isComponentLikeModal" [routerLink]="['/guide/'+guideId]">
      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="grey-background">
  <ion-item *ngFor="let feedback of feedbackList; trackBy: trackByFn">

    <ion-thumbnail slot="start">

      <!-- <div *ngIf="testBrowser">
        <img [src]="feedback.url" alt="">
      </div> -->
      <div *ngIf="feedback.attached_file_path && appSetting?.isValidHttpUrl(feedback.attached_file_path) === false">
        <img appImgload [localurl]="feedback.attached_file_path" alt="" style="height: 100%; width: 100%;"
          *ngIf="appSetting.isImage(feedback.attached_file_path)">
        <video appImgload [localurl]="feedback.attached_file_path" style="height: 100%; width: 100%;"
          *ngIf="appSetting.isVideo(feedback.attached_file_path)"></video>
      </div>


      <!-- <div *ngIf="feedback.attached_file_path && isValidHttpUrl(feedback.attached_file_path) === false">
        <video appImgload [localurl]="feedback.attached_file_path" style="width: 100%;"></video>
      </div> -->

      <div *ngIf="feedback.attached_file && appSetting?.isValidHttpUrl(feedback.attached_file_path)">
        <model-assetcomponent [model]="feedback" [isthumbnail]="true" style="height: 100%; width: 100%;">
        </model-assetcomponent>
      </div>
    </ion-thumbnail>

    <ion-label>
      <h2><span *ngIf="feedback.title">{{ feedback.title }}</span></h2>
      <p>{{ (feedback.local_created_at || feedback.created_at) | datePipe: 'dd.MM.yyyy H:mm a' }}</p>
      <p>{{ feedback.description }}</p>
      <p>{{ 'Status' | translate:params }} : {{ feedback.status | translate:params }}</p>
    </ion-label>

    <ion-button slot="end" fill="clear" *ngIf="feedback.isOpenStatus()"
      (click)="openAddEditPage(feedback[feedback.COL_ID])">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-button>

  </ion-item>

  <div *ngIf="!feedbackList.length" [ngStyle]="{'margin': '15px', 'text-align': 'center'}">
    {{ 'feedback.No feedbacks' | translate:params }}</div>

  <div style="height: 70px"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddEditPage()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
