<div *ngIf="model">
    <img *ngIf="model.isImageFile()"
         (click)="openFile(model.getFileName(), model.TABLE_NAME, model.attached_file)"
         [src]="model.getFileImagePath()"
    >
    <div *ngIf="model.isVideoFile()"
         (click)="openFile(model.getFileName(), model.TABLE_NAME)"
         [ngClass]="{'video-with-thumbnail': model.isExistThumbOfFile()}"
    >
        <img *ngIf="model.isExistThumbOfFile()"
             [src]="model.getFileImagePath()"
        />
        <ion-icon name="videocam"
                  class="videocam-icon"
                  slot="start"
        >
        </ion-icon>
    </div>
    <ion-icon name="musical-notes"
              class="videocam-icon"
              slot="start"
              *ngIf="model.isAudioFile()"
    >
    </ion-icon>
    <ion-icon *ngIf="!model.isExistFormatFile()"
              class="videocam-icon"
              name="cloud-upload"
    >
    </ion-icon>
</div>

