<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'guides.header' | translate:params }}
    </ion-title>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true"
                   autocomplete="on"
                   debounce="250"
                   placeholder="{{ 'search' | translate:params }}"
                   (ionChange)="searchGuides($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <span *ngIf="isLoadedContent">
    <div *ngFor="let guideCategory of guideCategories">
      <div *ngIf="guideCategory.guides && guideCategory.guides.length">
              <ion-grid class="guides">
                <ion-row><ion-col><h4>{{ guideCategory.name }}</h4></ion-col></ion-row>
              </ion-grid>
              <ion-grid class="guides">
                <ion-row>
                  <ion-col fixed size-xs="12" size-sm="6" size-md="4" *ngFor="let item of guideCategory.guides">
                    <ion-card color="light" class="ion-no-margin">
                      <div class="guide-preview" [routerLink]="['/guide/' + item.idApi]">
                        <div class="img" *ngIf="item.getFileImagePath()" [ngStyle]="{'background-image': 'url(' + item.getFileImagePath(0,'trustStyle') + ')'}"></div>
                        <div class="img" *ngIf="!item.getFileImagePath()" [ngStyle]="{'background-image': 'url(' + 'assets/placeholder.jpg' + ')'}"></div>
                        <div class="shortname-label badge badge-secondary">
                          {{ item.short_name }}
                        </div>
                      </div>

                      <ion-card-header>
                        <ion-card-title>{{item.title}}</ion-card-title>
                      </ion-card-header>
                        <ion-card-content>
                          <div class="guide-info" margin-bottom>
                            <p class="guide-description">
                              {{item.description}}
                            </p>
                            <div class="muted">
                              <p *ngIf="item.duration">
                                {{ 'guides.duration' | translate:params }}: {{ item.getDuration() }}
                              </p>
                              <p *ngIf="item.revision">
                                {{ 'guides.revision' | translate:params }}: {{ item.revision }}
                              </p>
                            </div>
                          </div>
                          <ion-button *ngIf="item.protocol_template && haveProtocolPermissions"
                                      class="show-guide-btn"
                                      color="medium"
                                      (click)="openProtocol(item)"
                                      vertical="bottom"
                          >
                            <ion-icon slot="start" name="list"></ion-icon>
                            {{ 'guides.Protocol' | translate:params }}
                          </ion-button>
                        </ion-card-content>

                    </ion-card>
                 </ion-col>

           </ion-row>
          </ion-grid>

      </div>
    </div>
  </span>

</ion-content>
