<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-with-sync-indicator></ion-menu-with-sync-indicator>
    </ion-buttons>
    <ion-title>
      {{ 'about.header' | translate:params }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<style>
  ion-content {
    text-align: center;
  }
</style>

<ion-content class="grey-background ion-padding">
    <ion-item  *ngIf="versionNumber">
        <ion-label>
            <ion-icon slot="start" name="apps"></ion-icon>
            <span>
                {{ 'about.App Version' | translate:params }}
            </span>
        </ion-label>
        <span class="ion-align-items-end">
            {{ versionNumber }}
        </span>
    </ion-item>
    <ion-item  *ngIf="apiVersionNumber">
        <ion-label>
            <ion-icon slot="start" name="apps"></ion-icon>
            <span>
                {{ 'about.API Version' | translate:params }}
            </span>
        </ion-label>
        <span class="ion-align-items-end">
            {{ apiVersionNumber }}
        </span>
    </ion-item>
    <ion-item>
        <ion-label>
            <ion-icon slot="start" name="apps"></ion-icon>
            <span>
                {{ 'about.Copyright' | translate:params }}
            </span>
        </ion-label>
        <span class="ion-align-items-end">
            taktwerk GmbH, 2012-2020
        </span>
    </ion-item>

</ion-content>
