<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'guides.header' | translate:params }} </ion-title>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal grey-background">
  <ion-segment color="light" [(ngModel)]="type" scrollable mode="md">
    <ion-segment-button value="browse" checked mode="md">
      <ion-label>{{ 'guide-categories.categories' | translate:params }}</ion-label>
      <ion-icon name="filing"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="search" mode="md">
      <ion-label>{{ 'Search' | translate:params }}</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="type">
    <div class="category-content" *ngSwitchCase="'browse'">
      <span *ngIf="isLoadedContent">

        <div class="guide-category" *ngFor="let guideCategory of guideCategories; trackBy: trackByFn">
          <div *ngIf="guideCategory.guidesCount">
            <ion-item button detail [routerLink]="['/guides/' + guideCategory.idApi]" class="guide-category"
              lines="full" inset="true">
              <ion-label slot="start">{{ guideCategory.name }}</ion-label>
              <ion-badge color="medium" slot="end">{{ guideCategory.guidesCount }}</ion-badge>
            </ion-item>
          </div>
        </div>

        <div class="guide-category" *ngIf="guidesWithoutCategories && guidesWithoutCategories.length">
          <div>
            <ion-item button detail [routerLink]="['/guides/0']" class="guide-category" lines="full" inset="true">
              <ion-label slot="start">{{ 'guide-categories.no-category' | translate:params }}</ion-label>
              <ion-badge color="medium" slot="end">{{ guidesWithoutCategories.length }}</ion-badge>
            </ion-item>
          </div>
        </div>
        
      </span>
    </div>
    <div *ngSwitchCase="'search'">
      <ion-searchbar animated="true" mode="md" class="search-categories" autocomplete="on" debounce="250"
        [value]="searchValue" placeholder="{{ 'Search all guides' | translate:params }}"
        (ionChange)="searchGuides($event)">
      </ion-searchbar>
      <span *ngIf="isLoadedContent">
        <div *ngIf="guides && guides.length">
          <div *ngIf="guides.length > guideItemsLimit" [ngStyle]="{'margin': '15px'}">
            <div *ngIf="!searchValue">{{ 'guides.specifySearchMessage' | translate:{guidesCount:guides.length} }}</div>
            <div *ngIf="searchValue">{{ 'guides.specifyMoreSearchMessage' | translate:{guidesCount:guides.length} }}
            </div>
          </div>
          <guide-list-component *ngIf="guides.length <= guideItemsLimit" [guides]="guides" [hideCollection]="false"> </guide-list-component>
        </div>
        <div *ngIf="!guides.length" [ngStyle]="{'margin': '15px'}">{{ 'noResults' | translate:params }}</div>
      </span>
    </div>
  </div>
</ion-content>