.video-icon {
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}

.videocam-icon {
  font-size: 100px;
  color: red;
}

ion-slide {
  overflow: scroll;
}

.pdf-image {
  width: 130px;
  display: inline;
}

.shortname-label {
  position: absolute;
  top: 0.8rem;
  left: 1.6rem;
}

table {
  max-width: 100%;
}
table td p {
  /*font-size: inherit !important;*/
  margin: 0;
}
table td {
  padding: 5px;
}
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}
.swiper-slide {
  display: block;
  text-align: left;
}
.swiper-wrapper {
  margin-bottom: 15px;
}
.guide-assets ion-row {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.video-with-thumbnail {
  position: relative;
  .videocam-icon {
    position: absolute;
    font-size: 7vh;
    right: 0;
    top: 0;
  }
}


.guide-step {
  height: calc(100% - 3rem);
}

.guide-step ion-slides {
  height: 100%;
}

/* doesn't work

.guide-step .swiper-pagination-bullets {
  bottom: 7px !important;
} */

.guide-step ion-grid {
  height: calc(100vh - 7rem)
}

.guide-step ion-row {
  height: 100%;
}

.guide-step-img {
  text-align: center;
  height: 100%;
}

.guide-step-text ion-card-content {
  overflow: scroll;
  max-height: calc(100vh - 18rem);
}

.guide-assets ion-card {
  margin-top: 0;
}