table {
  max-width: 100%;
}
table td p {
  /*font-size: inherit !important;*/
  margin: 0;
}
table td {
  padding: 5rem;
}
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

ion-slides {
  --bullet-background-active: white;
}

.swiper-slide {
  img {
    width: auto !important;
    margin: auto;
  }
  display: block;
  text-align: left;
}

/*.swiper-wrapper {
  margin-bottom: 15px;
}*/
// .guide-assets ion-row {
//   /*   -webkit-flex-wrap: wrap;
//   flex-wrap: wrap; */
// }

ion-card {
  --background: white;

  .asset-item {
    --background: #e2e3e463;
  }
}

.guide-step {
  height: 100%;
}

.guide-step.has-assets {
  height: calc(100% - 3rem);
}

.guide-step ion-slides,
.guide-step ion-slide {
  height: 100%;
}

/* doesn't work

.guide-step .swiper-pagination-bullets {
  bottom: 7px !important;
} */

.guide-assets ion-card {
  margin-top: 0;
}

.image-preview {
  width: 130px;
}

ion-slide {
  padding-bottom: 30px;
}

.header_cta {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 100px;

  ion-back-button {
    display: contents !important;
  }
}

.asset_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  
  label {
    margin-right: 16px;
    margin-bottom: 16px;

    span {
      padding: 16px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border: 1px solid #eee;
      border-radius: 8px;
      text-align: center;
      p {
        line-height: normal;
        padding-top: 16px;
        margin: 0;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
       
        max-width: 100px;
      }
    }
    img {
      height: 40px;
      width: 40px;
    }
  }
}
