//@import 'src/assets/css/material-kit.scss';

.guide-preview {
  width: 50%;
  height: 50%;
}

.video-icon {
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}

.videocam {
  font-size: 100px;
  color: red;
}

ion-slides {
  height: 100%;
}

ion-slide {
  overflow: scroll;
}

.pdf-image {
  width: 130px;
  display: inline;
}

.shortname-label {
  position: absolute;
  top: 0.8rem;
  left: 1.6rem;
}

table {
  max-width: 100%;
}
table td p {
  font-size: inherit !important;
  margin: 0;
}
table td {
  padding: 5px;
}
