<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ "guide.header" | translate: params }} {{ guide.title }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button
        color="primary"
        fill="solid"
        [routerLink]="['/guide/' + guide.idApi + '/feedback']"
      >
        {{ "feedback.header" | translate: params }}
      </ion-button>
    </ion-buttons>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div *ngIf="guideSteps && guideSteps.length === 0">
    {{ "guide.No information here yet." | translate: params }}
  </div>
  <div *ngIf="guideSteps && guideSteps.length > 0">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let step of guideSteps; let stepNumber = index">
        <div>
          <p slot="fixed">{{ guide.short_name }} {{ guide.title }}</p>
          <div slot="fixed">
            {{ stepNumber + 1 }} / {{ guideSteps.length }} {{ step.title }}
          </div>
        </div>
        <ion-card color="light">
          <img
            *ngIf="step.isImageFile()"
            (click)="
              openFile(step.getFileName(), step.TABLE_NAME, step.title)
            "
            [src]="step.getFileImagePath()"
          />
          <div *ngIf="step.isVideoFile()"
               (click)="openFile(step.getFileName(), step.TABLE_NAME)"
          >
            <div *ngIf="step.isExistThumbOfFile()">
              <img [src]="step.getFileImagePath()"/>
              <ion-icon name="videocam"
                        class="videocam-icon"
                        slot="end"
                        style="font-size: 50px;"
              >
              </ion-icon>
            </div>
            <ion-icon *ngIf="!step.isExistThumbOfFile()"
                      name="videocam"
                      class="videocam-icon"
                      slot="start"
            >
            </ion-icon>
          </div>
          <img
            *ngIf="!step.isExistFormatFile()"
            src="/assets/placeholder.jpg"
          />
        </ion-card>
        <ion-card *ngIf="step.description_html" class="ion-text-left" color="light">
          <html-description-component [html]="step.description_html"></html-description-component>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-card *ngIf="guideAssets.length" color="light">
      <section>
        <p class="ion-text-center">
          {{ "guide.Assets" | translate: params }}
        </p>
        <ion-row class="guide-assets">
          <span *ngFor="let asset of guideAssets; trackBy: trackGuideAsset" class="ion-padding">
              <span *ngIf="asset.isExistFileByIndex()">
                <img *ngIf="asset.isPdf()"
                     (click)="openFile(
                     asset.getFileName(guideAssetModelFileMapIndexEnum.PDF_FILE_IMAGE),
                     asset.TABLE_NAME,
                     asset.name
                     )"
                     class="pdf-image"
                     [src]="asset.getFileImagePath(guideAssetModelFileMapIndexEnum.PDF_FILE_IMAGE)"
                />
              <img *ngIf="!asset.isPdf()"
                   (click)="openFile(asset.getFileName(), asset.TABLE_NAME, asset.name)"
                   class="pdf-image"
                   [src]="asset.getFileImagePath()"
              />
              </span>
              <ion-button *ngIf="!asset.isExistFileByIndex()"
                          color="medium"
                          (click)="openAssetTextModal(asset)"
              >
                {{ asset.name }}
              </ion-button>
          </span>
      </ion-row>
      </section>
    </ion-card>
  </div>
</ion-content>
