<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" style="color: #ffffff;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="vertical-align-content ion-text-center black-background">
    <ion-grid>
        <ion-row>
            <video #video [ngStyle]="{display: !this.canPlayVideoViaHtml5VideoTag() ? 'none' : 'block'}" controls>
            </video>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- <ion-footer class="ion-padding ion-text-center"
    [ngStyle]="{color: 'white', backgroundColor: 'black'}">
    {{ fileTitle }}
</ion-footer> -->