ion-segment {
    ion-label {
        font-size: 12px;
        ion-badge {
            font-size: 10px;
        }
    }
}

.Debug {
    h3 {
        color: #118888;
    }
    p {
        color: #2f2f2f;
    }
}

.Info {
    h3 {
        color: #929292;
    }
    p {
        color: #2f2f2f;
    }
}

.Warn {
    h3 {
        background-color: #fffbe5;
        max-width: fit-content;
        color: #ff1d1a;
    }
    p {
        color: #2f2f2f;
    }
}

.Error {
    h3 {
        background-color: #fff0f0;
        max-width: fit-content;
        color: #ff0000;
    }
    p {
        color: #2f2f2f;
    }
}

p {
    white-space: normal;
}
