page-login {
  .number-pad { margin-top: 16px; }
  button { width: 64px !important; height: 64px !important; }

  div { margin-bottom: 6px; }
  div > number-login-button:first-child { margin-right: 6px; }
  div > number-login-button:last-child { margin-left: 6px; }
}
