<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-with-sync-indicator></ion-menu-with-sync-indicator>
    </ion-buttons>
    <ion-title>
      Guides
    </ion-title>


  <ion-buttons slot="primary">
    <ion-back-button style="color: #fff;" text="" defaultHref="{{ '/guide-categories' }}">
    </ion-back-button>
  </ion-buttons>
          
  </ion-toolbar>
</ion-header>

<ion-content class="grey-background">
  <span *ngIf="isLoadedContent && guide">
    <h4 class="ion-margin-horizontal">
      Collection: {{guide.short_name}} {{ guide.title }}
    </h4>
    <div *ngIf="collectionGuides.length">
      <guide-list-component [guides]="collectionGuides" [parentCollectionId]="guide.idApi"></guide-list-component>
    </div>
  </span>
</ion-content>