<div class="preview-wrapper" [ngClass]="{'mini':mini}">
    <!-- audio  -->
    <img src="../../assets/icon/musical-note.svg" *ngIf="model.isAudioFile()"
        (click)="openFile(model.getFileName(), model.getFileUrl(), model.TABLE_NAME, model.title)" class="grayoutimage">

    <!-- video -->
    <div *ngIf="model.isVideoFile()"
        (click)="openFile(model.getFileName(), model.getFileUrl(), model.TABLE_NAME, model.title)"
        [ngClass]="{'video-with-thumbnail': model.isExistThumbOfFile()}">
        <img *ngIf="model.isExistThumbOfFile()" [src]="model.getFileImagePath()" />
        <img *ngIf="!model.isExistThumbOfFile()" [src]="'/assets/videooverlay.png'" />
        <!-- <ion-icon *ngIf="model.isExistThumbOfFile()" name="videocam" class="videocam-icon" slot="start"> </ion-icon> -->
        <ion-icon name="videocam" class="videocam-icon" slot="start"> </ion-icon>

    </div>

    <!-- image -->
    <img *ngIf="model.isImageFile()"
        (click)="openFile(model.getFileName(), model.getFileUrl(), model.TABLE_NAME, model.title)"
        [src]="model.getFileImagePath()" />

    <!-- pdf -->
    <img [src]="model.getFileImagePath(guideAssetModelFileMapIndexEnum.PDF_FILE_IMAGE)" class="grayoutimage"
        *ngIf="model.isPdf()" (click)="openFile(model.getFileName(), model.getFileUrl(), model.TABLE_NAME, model.title)"
        style="width: auto!important;">

    <!-- 3d model -->
    <div *ngIf="model.is3dFile()" style="width: 100%; height: 100%; position:relative;">

        <fa-icon [icon]="faExpand"
            (click)="openFile(model.getFileName(), model.getFileUrl(), model.TABLE_NAME, model.title)"
            style="position: absolute; bottom: 0; right: 0;"></fa-icon>

        <viewer-3d-model-component [fileName]="model.getFilePath()" [backgroundColor]="null" [fullScreen]="false"
            [madeUserIteractions]="false" [willStopRotate]="false">
        </viewer-3d-model-component>
    </div>

    <!-- text -->
    <div (click)="openAssetTextModal()"
        *ngIf="!model.is3dFile() && !model.isAudioFile() && !model.isVideoFile() && !model.isImageFile() && !model.isPdf()">
        <ion-icon class="asset__icons" src="../../assets/icon/text.svg" style="font-size: 4.2rem;"
            [ngClass]="{'thumbnail' : isthumbnail}"></ion-icon>
    </div>

</div>