<div  class="preview-wrapper">
    <!-- audio  -->
    <ion-icon name="musical-notes" class="videocam-icon" slot="start" *ngIf="model.isAudioFile()"
        (click)="openFile(model.getFileName(), model.TABLE_NAME, model.COL_TITLE)">
    </ion-icon>

    <!-- video -->
    <div *ngIf="model.isVideoFile()" (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)"
        [ngClass]="{'video-with-thumbnail': model.isExistThumbOfFile()}">
        <img *ngIf="model.isExistThumbOfFile()" [src]="model.getFileImagePath()" />
        <ion-icon *ngIf="model.isExistThumbOfFile()" name="videocam" class="videocam-icon" slot="start"> </ion-icon>
        <img *ngIf="!model.isExistThumbOfFile()" [src]="'/assets/videooverlay.png'" />
    </div>

    <!-- image -->
    <img *ngIf="model.isImageFile()" (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)"
        [src]="model.getFileImagePath()" />


    <!-- pdf -->
    <div *ngIf="model.isPdf()" (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)">
        <ion-icon name="document" class="videocam-icon" slot="start"> </ion-icon>
    </div>



    <div *ngIf="model.is3dFile" style="width: 100%; height: 100%; position:relative;">
        <ion-icon (click)="openFile(model.fileName, model.fileUrl, model.TABLE_NAME, model.title)" name="search"
            style="position: absolute; bottom: 0; right: 0; padding: 15px; font-size: 50px; z-index: 1000">
        </ion-icon>
        <viewer-3d-model-component [fileName]="model.filePath3d" [backgroundColor]="null" [fullScreen]="false"
            [madeUserIteractions]="false" [willStopRotate]="false">
        </viewer-3d-model-component>
    </div>

    <!-- undefined / null == true -->
    <ion-icon *ngIf="!model.isExistFormatFile()" class="cloud-upload" name="cloud-upload"> </ion-icon>

</div>