table {
  max-width: 100% !important;
}
table td p {
  /* font-size: inherit !important;*/
  margin: 0;
}
table td {
  padding: 0.5rem;
  border: 1px silver solid;
}
.html-description {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* font-size: 1.5rem; */
  /*padding: 15px 15px;*/
}

figure {
  margin: 0;
}

html-description-component.step-description {
  p {
    font-size: 18px;
    strong {
      font-size: 18px;
    }
  }
}

p,
li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

h3,
h4,
h5,
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  // font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #3c8dbc;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px !important;
}

h4 {
  margin-top: 8px !important;
}

figure {
  margin-top: 37px;
}

.html-description {
  font-size: 18px;
}
