<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="guide"> {{guide.short_name}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">Dismiss</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="guide">
  <ion-card>
    <ion-card-content>
      <img [src]="guide.getFileImagePath(0,'trustStyle')" *ngIf="guide.getFileImagePath()">
      <img src="../../assets/placeholder.jpg" *ngIf="!guide.getFileImagePath()">
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-group>
      <ion-item lines="full" style="border-bottom: 1px solid #eeeeeea8;">
        <ion-label>
          <p class=""> <strong>{{guide.title}}</strong></p>
          <p *ngIf="guide.duration">{{ 'guides.duration' | translate:params }}: {{ guide.getDuration() }}</p>
          <p *ngIf="guide.revision">{{ 'guides.revision' | translate:params }}: {{ guide.revision }}</p>
          <p *ngIf="guide.created_by">{{ 'guides.created_by' | translate:params }}: {{ guide.created_by }}</p>
          <p *ngIf="guide.updated_by">{{ 'guides.updated_by' | translate:params }}: {{ guide.updated_by }}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="full">
        <ion-label>
          <h2> <strong>Description</strong></h2>
          <p class="guide-description">{{guide.description}}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>