<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="display: contents!important;color: #fff;" (click)="onDone()"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onDone()" color="light"> Done </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tui-image-editor"></div>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="currentControl.name !=null">
    <ion-buttons>
      <span *ngFor="let subControl of currentControl.subControls" class="subControlWrapper">
        <ion-button shape="round" (click)="onSubControl(subControl)"
          [ngClass]="{'currentControl' :currentSubControl.name == subControl.name}">
          <ion-icon [name]="subControl.icon"> </ion-icon>
        </ion-button>
        <ion-text [ngClass]="{'currentControl' :currentSubControl.name == subControl.name}">{{subControl.name}}
        </ion-text>
      </span>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-button class="parentControl" shape="round" (click)="onControl(control)" *ngFor="let control of controls"
        [ngClass]="{'currentControl' :currentControl?.name ==control.name}">
        <ion-icon [name]="control.icon" style="color: #ffffff;"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>