<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" style="color: #ffffff;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="vertical-align-content ion-text-center black-background">
    <!-- <pdf-viewer style="height: 100%;width: 100%;" #viewer class="fill" viewerId="MyID2" locale="en-US">
    </pdf-viewer> -->
    <!-- <pdf-viewer-component #pdfViewer *ngIf="pdfUrl" [pdfSrc]="pdfUrl" [zoom]="5.0"></pdf-viewer-component> -->
</ion-content>
