ion-menu-button.notSynced {
  &::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background: #10dc60;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    right: 7px;
  }
}
