ion-modal {
  width: 100% !important;
  height: 100% !important;
  --width: 100% !important;
  --height: 100% !important;
}

ckeditor {
  -webkit-user-select: text;
  user-select: text;
}

.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se,
.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw {
  top: -50px !important;
  bottom: auto;
}

ckeditor.inline_editor {
  margin-top: 32px;
  width: 100%;
  max-height: 52vh;

  .ck-editor__top {
    display: none;
  }

  .ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    border: none !important;
  }
}

.main_editor {
  .ck.ck-reset.ck-editor.ck-rounded-corners {
    display: flex !important;
    flex-direction: column-reverse !important;
    height: 100% !important;
  }

  .ck.ck-editor__main {
    height: 95%;
  }

  .ck-editor__editable_inline {
    height: 100%;
  }
}

.muted {
  color: gray;
}

$save-changes-alert-width: 400px;
.save-changes-alert {
  .alert-wrapper {
    --min-width: $save-changes-alert-width;
    min-width: $save-changes-alert-width;
    text-align: center;
    .alert-button-group {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-around;
      button {
        width: 33%;
        margin: 0;
        &.last-button {
          .alert-button-inner {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

.grey-background {
  --ion-color-base: #e9eaed !important;
  --background: #e9eaed !important;
}

.header_bg {
  background-color: #173262;
  --background: #173262;
}

ion-menu-button {
  color: white;
}

ion-header {
  --ion-background-color: #173262;

  ion-toolbar {
    color: white;
    background-color: #173262;
    --background: #173262;
  }

  // sync-spinner-component {
  //   order: 2;
  //   margin-left: 20px;
  //   margin-top: 5px;
  // }

  ion-title {
    order: 3;
    display: inline-block;
    margin-top: 5px;
  }
  ion-back-button {
    display: inline-block !important;
    order: 7;
    position: absolute;
    right: 5px;
    height: auto;
  }

  &::after {
    bottom: 50px !important;
  }
}

.sc-ion-modal-md-h {
  --border-radius: 0px !important;
}

.swiper-slide-active {
  width: 100% !important;
}

ion-menu ion-content ion-list,
.header-list {
  padding-bottom: 0;
}

ion-thumbnail {
  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.no__preview {
  --ion-background: #173262;
  --background: #173262;
  background-color: #173262;

  ion-icon,
  fa-icon {
    color: #ffffff !important;
  }
  p,
  strong {
    color: #ffffff !important;
  }
}

.solid_icon_color {
  color: #173262 !important;
}

.inner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 100%;
  width: 100%;

  ion-icon,
  fa-icon {
    position: absolute;
    z-index: 99999999999;
    font-size: inherit;
    color: #000000 !important;
  }

  viewer-3d-model-component {
    height: 100%;
    width: 100%;
    display: block;
    min-height: 200px;
  }
}

.elipsed {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.swiper-pagination.swiper-pagination-bullets {
  display: none !important;
}

.swiper-pagination-bullet {
  display: none !important;
}

.orangeColor {
  color: orange;
}

.popover-content {
  left: 109px;
}

.popover-content {
  --width: 270px;
}

ion-searchbar {
  --placeholder-color: #000 !important;
}

.searchbar-input {
  padding-inline-end: 0px !important;
}

.header_cta {
  display: flex;
  flex-direction: row-reverse;

  width: 100%;
  max-width: 100px;

  ion-back-button {
    display: contents !important;
  }
}

.tui-image-editor-canvas-container {
  height: 100% !important;
  width: 100% !important;
}

.ck.ck-widget__selection-handle {
  display: none;
}
