.list-spinner {
  width: 100% !important;
  opacity: 1 !important;
  left:0;right:0;top:0;bottom:0;
  color: blue;
  z-index:9999;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.list-spinner::after {
  content:'';
  display:block;
  position:fixed;
  left:50%;top:50%;
  width:40px;height:40px;
  border-style:solid;
  border-color:blue;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
