<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-with-sync-indicator></ion-menu-with-sync-indicator>
    </ion-buttons>
    <ion-title> {{ 'guider.header' | translate:params }} </ion-title>
          
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" mode="md" class="search-categories" autocomplete="on" debounce="250"
    [value]="searchValue" placeholder="{{ 'Search all guides' | translate:params }}" (ionChange)="searchGuides($event)">
  </ion-searchbar>

  <span *ngIf="isLoadedContent">
    <div *ngIf="guides && guides.length">
      <div *ngIf="guides.length > guideItemsLimit" [ngStyle]="{'margin': '15px'}">
        <div *ngIf="!searchValue">{{ 'guides.specifySearchMessage' | translate:{guidesCount:guides.length} }}</div>
        <div *ngIf="searchValue">{{ 'guides.specifyMoreSearchMessage' | translate:{guidesCount:guides.length} }}
        </div>
      </div>
      <guide-list-component *ngIf="guides.length <= guideItemsLimit" [guides]="guides" [isCapture]="true">
      </guide-list-component>
    </div>
    <div *ngIf="!guides.length" [ngStyle]="{'margin': '15px'}">{{ 'noResults' | translate:params }}</div>
  </span>
</ion-content>