.transparentBody {
  background: none transparent !important;
}

$save-changes-alert-width: 400px;

.save-changes-alert {
  --background: red;
  --min-width: $save-changes-alert-width;
  min-width: $save-changes-alert-width;
  background-color: red;
}

:host {
  --ion-color-base: #fff;
}

:root {
  --ion-color-base: #fff;
}

.photoframe {
  position: fixed;
  inset: 0;
  background-color: #000;
  z-index: 1;

  .frame-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .content {
      height: calc(100% - 50px);
      justify-content: center;
      // align-items: center;
      display: flex;
      width: 100%;
    }

    .header {
      height: 50px;
      display: flex;
      width: 100%;

      .close {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title {
        color: #fff;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.image-alignment {
  display: flex;
  justify-content: center;
  padding: 0.01%;
  height: 100%;
  min-width: 250px;
  // max-width: 30%;
  // display: flex;
  // justify-content: center;
  // // align-items: center;
  // max-width: 90%;
  // // padding: 2%;
  // padding: 0.01%;
  // height: 100%;

  .image-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

// :host ::ng-deep ion-modal.md modal-default {
//   --width: 900px !important;
//   --height: 600px !important;
//   //   --width: 600px;
//   // --height: 500px;
// }

// @media only screen and (min-width: 768px) and (min-height: 600px) {
//   :host {
//     --width: 100% !important;
//     --height: 100% !important;
//     --ion-safe-area-top: 0px;
//     --ion-safe-area-bottom: 0px;
//     --ion-safe-area-right: 0px;
//     --ion-safe-area-left: 0px;
//   }
// }
