<ion-app class="transparentBody" *ngIf="showPageView">

  <div class="photoframe" *ngIf="viewer.photoframe.show">
    <div class="frame-outer">
      <div class="content">
        <div class="image-alignment">
          <div class="image-profile">
            <img [src]="viewer.photoframe.url" width="100%" height="auto" />
          </div>
        </div>
      </div>
      <div class="header">
        <div class="close" (click)="viewer.photoframe.show = false">
          <ion-icon name="close-outline" color="#fff" size="large" style="color: #fff !important;"></ion-icon>
        </div>
        <div class="title">
          <div>{{viewer.photoframe.title}}</div>
        </div>
        <div class="close">

        </div>
      </div>
    </div>
  </div>

  <div class="photoframe" *ngIf="viewer.videoframe.show">
    <div class="frame-outer">
      <div class="content">
        <div class="image-alignment">
          <div class="image-profile">
            <video [src]="viewer.videoframe.url" width="100%" height="auto" controls></video>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="close" (click)="viewer.videoframe.show = false">
          <ion-icon name="close-outline" color="#fff" size="large" style="color: #fff !important;"></ion-icon>
        </div>
        <div class="title">
          <div>{{viewer.videoframe.title}}</div>
        </div>
        <div class="close">

        </div>
      </div>
    </div>
  </div>

  <div class="photoframe" *ngIf="viewer.pdfframe.show">
    <div class="frame-outer">
      <div class="content">
        <!-- <iframe [src]="viewer.pdfframe.url" type="application/pdf" frameBorder="0" scrolling="auto" height="100%" width="100%"></iframe> -->
        <pdf-viewer [src]="viewer.pdfframe.url" [original-size]="false" style="width: 100%; height: 100%;"></pdf-viewer>
      </div>
      <div class="header">
        <div class="close" (click)="viewer.pdfframe.show = false">
          <ion-icon name="close-outline" color="#fff" size="large" style="color: #fff !important;"></ion-icon>
        </div>
        <div class="title">
          <div>{{ viewer.pdfframe.title }}</div>
          <!-- <div>{{viewer?.pdfframe?.title}}</div> -->
        </div>
        <div class="close">

        </div>
      </div>
    </div>
  </div>



  <ion-split-pane when="(min-width: 100%)" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Guider App</ion-title>
          <ion-buttons slot="end">
            <sync-spinner-component [shouldOpenPopup]="true" slot="primary"> </sync-spinner-component>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="grey-background">
        <ion-list class="header-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item *ngIf="p.url" [routerDirection]="(p.url === '/guide-categories') ? 'root' : 'forward'"
              [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>