<ion-grid class="guides">
  <ion-row>
    <ion-col fixed size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let item of guides; trackBy: trackByFn">
      <ion-card color="light" class="ion-no-margin" *ngIf="!isCapture">
        <div class="guide-preview" (click)="openGuide(item)">
          <div class="img" *ngIf="item.getFileImagePath()"
            [ngStyle]="{'background-image': 'url(' + item.getFileImagePath(0,'trustStyle') + ')'}"></div>
          <div class="img" *ngIf="!item.getFileImagePath()"
            [ngStyle]="{'background-image': 'url(' + 'assets/placeholder.jpg' + ')'}"></div>
          <div class="shortname-label badge badge-secondary">{{ item.short_name }}</div>
        </div>

        <ion-card-header>
          <ion-card-title
            style="display: flex;  flex-direction: row;  align-items: center;  justify-content: space-between; align-items: start;">
            <ion-label>
              {{item.title}}
            </ion-label>

            <ion-buttons>
              <ion-button (click)="presentGuideInfo(item)">
                <ion-icon name="information-circle-outline" slot="start" style="margin:0; font-size: 30px;"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-title>

        </ion-card-header>
        
        <ion-card-content>
          <div class="guide-info" margin-bottom>
            <p class="guide-description">{{item.description}}</p>
            <div class="muted">
              <p *ngIf="item.duration">{{ 'guides.duration' | translate:params }}: {{ item.getDuration() }}</p>
              <p *ngIf="item.revision">{{ 'guides.revision' | translate:params }}: {{ item.revision }}</p>
            </div>
          </div>

          <ion-button *ngIf="item.guide_collection.length" class="show-guide-btn" (click)="openCollection(item)"
            vertical="bottom" style="text-transform: uppercase">
            <ion-icon slot="start" name="play"></ion-icon>
            {{ 'guides.Show Collection' | translate:params }}
          </ion-button>

          <ion-button *ngIf="item.protocol_template && haveProtocolPermissions" class="show-guide-btn" color="medium"
            (click)="openProtocol(item)" vertical="bottom">
            <ion-icon slot="start" name="list"></ion-icon>
            {{ 'guides.Protocol' | translate:params }}
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card color="light" class="ion-no-margin" *ngIf="isCapture && item.guide_collection.length == 0"
        (click)="openGuideSteps(item.idApi)">
        <div class="guide-preview">
          <div class="img" *ngIf="item.getFileImagePath()"
            [ngStyle]="{'background-image': 'url(' + item.getFileImagePath(0,'trustStyle') + ')'}"></div>
          <div class="img" *ngIf="!item.getFileImagePath()"
            [ngStyle]="{'background-image': 'url(' + 'assets/placeholder.jpg' + ')'}"></div>
        </div>

        <ion-card-content>
          <ion-item lines="none" class="no-padding capture__guide__stretch_item">
            <ion-card-title>
              <h2><strong>{{item.title}}</strong></h2>
              <p>{{item.short_name}}</p>
            </ion-card-title>
            <ion-buttons slot="end">
              <ion-button>
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>