<div style="width: 100%">
  <div class="guide-step" [ngClass]="{'has-assets' : haveAssets}" style="position: relative;">
    <div class="grid" >
      <div class="col col-img" *ngIf="fileName">

        <div class="guide-step-img" *ngIf="(testBrowser && step.attached_file_path) && appSetting.isValidHttpUrl(step.attached_file_path) === false">
          <img appImgload [localurl]="step.attached_file_path"  style="height: 100%; width: 100%;" *ngIf="appSetting.isImage(step.attached_file_path)">
          <video appImgload [localurl]="step.attached_file_path" style="height: 100%; width: 100%;" *ngIf="appSetting.isVideo(step.attached_file_path)"></video>
        </div>

        <div class="guide-step-img" *ngIf="appSetting.isValidHttpUrl(step.attached_file_path)">
          <model-assetcomponent [model]="step" [isthumbnail]="false" [floatingIcon]="true"></model-assetcomponent>
        </div>
      </div>

      <div class="col description" #description [ngClass]="{'has-media' : fileName}">
        <ion-card class="guide-step-text ion-no-margin">
          <ion-card-header>
            <ion-card-subtitle>{{ guide.short_name }} - {{ guide.title }}</ion-card-subtitle>
            <ion-card-title>{{ stepNumber + 1 }} / {{ guideStepsLength }} {{ step.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="step.description_html" class="ion-text-left">
              <html-description-component [html]="step.description_html" class="step-description">
              </html-description-component>
            </div>
          </ion-card-content>
          <ion-toolbar *ngIf="step.description_html || haveFeedbackPermissions">
            <ion-icon *ngIf="step.description_html" class="expand-icon" color="primary" name="list"
              (click)="openAssetTextModal()" slot="start"></ion-icon>

            <ion-button class="feedback-btn" slot="end" color="primary" fill="outline" size="small"
              (click)="openFeedback('guide_step', step.idApi, step.title)" *ngIf="haveFeedbackPermissions">
              <ion-icon name="chatbox" slot="start"> </ion-icon>
              {{ "feedback.header" | translate: params }}
            </ion-button>
          </ion-toolbar>
        </ion-card>
      </div>
    </div>
    <!-- <div style="position: absolute; top: 25%; left:10px ; width: 30px; height: 30px;">
      <img src="../../assets/icon/left-arrow.png" alt="icon" height="30px" width="30px">
    </div>
    <div style="position: absolute; top: 25% ; right:10px; width: 30px; height: 30px;">
      <img src="../../assets/icon/right-arrow.png" alt="icon" height="30px" width="30px">
    </div> -->
  </div>
</div>
