<div class="guide-step" [ngClass]="{'has-assets' : haveAssets}">
  <div class="grid" [ngClass]="{'has-media' : step.getFileName()}">
    <div class="col" *ngIf="step.getFileName()">
      <div class="guide-step-img">
        <ion-icon
          name="musical-notes"
          class="audio-icon"
          slot="start"
          *ngIf="step.isAudioFile()"
          (click)="openFile(step.getFileName(), step.getFileUrl(), step.TABLE_NAME, step.title)"
        >
        </ion-icon>
        <fa-icon
          [icon]="faFilePdf"
          class="fa-icon"
          slot="start"
          *ngIf="step.isPdf()"
          (click)="openFile(step.getFileName(), step.getFileUrl(), step.TABLE_NAME, step.title)"
        >
        </fa-icon>
        <img class="guide-img"
          *ngIf="step.isImageFile()"
          (click)="openFile(step.getFileName(), step.getFileUrl(), step.TABLE_NAME, step.title)"
          [src]="step.getFileImagePath()"
        />
        <div
          *ngIf="step.isVideoFile()"
          (click)="openFile(step.getFileName(), step.getFileUrl(), step.TABLE_NAME, step.title)"
          [ngClass]="{'video-with-thumbnail': step.isExistThumbOfFile()}"
        >
          <img *ngIf="step.isExistThumbOfFile()" [src]="step.getFileImagePath()" />
          <ion-icon *ngIf="step.isExistThumbOfFile()" name="play" class="videocam-icon" slot="start"></ion-icon>
          <img *ngIf="!step.isExistThumbOfFile()" [src]="'/assets/videooverlay.png'" />
        </div>
        <div *ngIf="step.is3dFile()" style="width: 100%; height: 100%">
          <ion-icon
            (click)="openFile(step.getFileName(), step.getFileUrl(), step.TABLE_NAME, step.title)"
            name="search"
            style="position: absolute; bottom: 0; right: 0; padding: 15px; font-size: 50px; z-index: 1000"
          >
          </ion-icon>
          <viewer-3d-model-component [fileName]="step.getFilePath()" [backgroundColor]="null" [madeUserIteractions]="false" [willStopRotate]="false">
          </viewer-3d-model-component>
        </div>
        <ion-icon *ngIf="!step.isExistFormatFile()" class="videocam-icon" color="primary" name="cloud-upload"></ion-icon>
      </div>
    </div>
    <div class="col description">
      <ion-card color="light" class="guide-step-text ion-no-margin">
        <ion-card-header>
          <ion-card-subtitle>{{ guide.short_name }} {{ guide.title }}</ion-card-subtitle>
          <ion-card-title>{{ stepNumber + 1 }} / {{ guideStepsLength }} {{ step.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="step.description_html" class="ion-text-left">
            <html-description-component [html]="step.description_html" class="step-description"></html-description-component>
          </div>
        </ion-card-content>
        <ion-toolbar *ngIf="haveFeedbackPermissions">
          <ion-button slot="end" color="primary" fill="outline" size="small" (click)="openFeedback('guide_step', step.idApi)">
            <ion-icon name="chatboxes" slot="start"></ion-icon>
            {{ "feedback.header" | translate: params }}
          </ion-button>
        </ion-toolbar>
      </ion-card>
    </div>
  </div>
</div>
