.videocam-icon {
  color: white;
  font-size: 50pt;
  position: absolute;
  top: 5%;
  left: 3%;
  /* middle */
  /* top: 50%;
  left: 50%;
  margin-left: -11%;
  margin-top: -11%; */
}

.video-with-thumbnail {
  height: 100%;
}

.audio-icon {
  position: absolute;
  top: 15%;
  left: 31%;
}

.audio-icon, .fa-icon {
  color: white;
  font-size: 100pt;
}

.guide-step-img {
  text-align: center;
  overflow: hidden;
  height: 100%;
  img {
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
}

.guide-step-text ion-card-content {
  overflow: scroll;
  color: var(--ion-text-color, black);
}


.description {
  background-color: white;
  color: black;
  padding: 15px;
}

ion-slides, ion-slide, .guide-step, .grid {
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

ion-card {
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  .grid {
    display: flex;
    max-height: calc(100vh - 6em);
    padding: 10px 15px 24px 10px;
  }

  .col {
    flex: 1 1;
    background: transparent;
    max-height: initial;

    &.description {
      padding: 0;
      margin: 0;
      margin-left: 14px;
    }
  }
}

@media (orientation: portrait) {
  .col {
    max-height: 44vh;
    background: transparent;
  }

  .guide-step-img img {
    max-height: 44vh;
  }
}
