.videocam-icon {
  color: white;
  font-size: 50pt;
  position: absolute;
  top: 5%;
  left: 3%;
  /* middle */
  /* top: 50%;
  left: 50%;
  margin-left: -11%;
  margin-top: -11%; */
}

.video-with-thumbnail {
  height: 100%;
}

.audio-icon {
  position: absolute;
  top: 15%;
  left: 31%;
}

.audio-icon, .fa-icon {
  color: white;
  font-size: 100pt;
}

.guide-step-img {
  text-align: center;
  height: 100%;
  img {
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    max-width: 50%;
    max-height: 50%;
    transform: scale(2);
    transform-origin: top center;
  }
}

.guide-step-text ion-card-content {
  overflow: scroll;
  color: var(--ion-text-color, black);
}

/* no media, only text (portrait & landscape) */
/* all without or with assets bar */
.guide-step-text ion-card-content {
  max-height: calc(100vh - 15rem);
}

.has-assets .guide-step-text ion-card-content {
  max-height: calc(100vh - 18rem);
}

/* with media, with text (landscape) */
.has-media .guide-step-text ion-card-content {
  max-height: calc(100vh - 15rem);
}

.has-assets .has-media  .guide-step-text ion-card-content {
  max-height: calc(100vh - 18rem);
}

/* with media, with text (portrait) */
@media screen and (orientation:portrait) {
  .has-media .guide-step-text ion-card-content {
    max-height: calc(67vh - 15rem);
  }

  .has-assets .has-media  .guide-step-text ion-card-content {
    max-height: calc(67vh - 18rem);
  }
}

.guide-step ion-grid {
  height: calc(100vh - 5rem);
}

.guide-step.has-assets ion-grid {
  height: calc(100vh - 8rem);
}

.guide-step ion-row, .guide-step ion-col {
  height: 100%;
}

@media screen and (orientation:portrait) {
  .guide-step ion-row, .portrait .guide-step ion-col {
    height: 33vh;
  }
}