.videocam-icon {
  color: white;
  font-size: 50pt;
  position: absolute;
  top: 5%;
  left: 3%;
  /* middle */
  /* top: 50%;
  left: 50%;
  margin-left: -11%;
  margin-top: -11%; */
}

.video-with-thumbnail {
  height: 100%;
}

.audio-icon, .fa-icon {
  color: white;
  font-size: 100pt;
}

.guide-step-img {
  text-align: center;
  overflow: hidden;
  height: 100%;
  img {
    border-radius: 2px;
    object-fit: contain;
    object-position: center top;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  .video-thumb {
    min-height: calc(50vh - 163px);
  }
  .three-model {
    max-height: 33vh;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .video-thumb {
    min-height: calc(50vh - 14px);
  }
}

@media (max-width: 575px) {
  .video-thumb {
    min-height: 223px;
  }
}

.guide-step-text ion-card-content {
  overflow: scroll;
  color: var(--ion-text-color, black);
}

.expand-icon {
  font-size: 23px;
  margin: 1px 0 0 10px;
}

.feedback-btn {
  font-size: 12px;
  margin-right: 10px;
}

.description {
  background-color: white;
  color: black;
  padding: 3px 10px 5px 10px;
}

ion-slides, ion-slide, .guide-step, .grid {
  height: 100%;
}

.guide-step {
  height: 100%;
  display: flex;
}

:host {
  display: flex;
  height: 100%;
}

ion-slide {
  padding-bottom: 0px;
}

.grid {
  min-height: 0;
  min-width: 0;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;

  .col-img {
    background: #E9EAED;
  }
}

ion-card {
  display: flex;
  flex-direction: column;
  background: white;
}

.description {
  flex: 1 1 10%;
}

@media (orientation: landscape) {
  .grid {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;
    display: flex;
    max-height: calc(100vh - 75px);
  }

  .col {
    flex: 1 1;
    background: transparent;
    max-height: initial;

    &.description {
      padding: 0;
      margin: 0 0 4px 14px;
    }

    img {
      height: 100%;
    }
  }

  .col-img {
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
  }

  .video-div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (orientation: portrait) {
  .col {
    max-height: calc(100vh - 79px);
    background: transparent;
    flex-direction: column;
  }

  .col-img {
    padding: 10px 10px 0px 10px;
  }

  .guide-step-img img {
     max-height: calc(70vh - 210px);
  }

  ion-card, .grid, .description {
    display: flex;
    flex-direction: column;
  }

  &.description {
    min-height: 0;
  }

  .video-div {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
