<div *ngIf="!platform.is('capacitor') && appSetting?.isValidHttpUrl(obj?.attached_file_path)" class="top-file">
  <model-assetcomponent [model]="obj" [isthumbnail]="true" style="height: 100%; width: 100%;">
  </model-assetcomponent>
</div>


<ng-container *ngIf="platform.is('capacitor')">
    <ng-container *ngIf="obj.thumb_attached_file_path">
      <img [src]="obj.thumb_attached_file_path" alt="" style="height: 100%; width: 100%;">
    </ng-container>
</ng-container>

<!-- <div *ngIf="(obj.attached_file === null) || appSetting?.isValidHttpUrl(obj.attached_file_path) === false">
  <img [src]="obj.local_attached_file" alt="" style="height: 100%; width: 100%;"
    *ngIf="appSetting.isImage(obj.local_attached_file)">

  <img src="../../assets/icon/video-camera.png" alt="video icon"
    *ngIf="appSetting.isVideo(obj.local_attached_file)" style="height: 100%; width: 100%;">

  <img src="../../assets/icon/document.png" alt="" style="height: 100%; width: 100%;"
    *ngIf="appSetting.isFile(obj.local_attached_file)">
</div> -->


<!-- <div *ngIf="(obj.attached_file_path !== null) && appSetting?.isValidHttpUrl(obj.attached_file_path) === true">
  <img [src]="obj.local_attached_file" alt="" style="height: 100%; width: 100%;"
    *ngIf="appSetting.isImage(obj.local_attached_file)">

  <video controls="controls" *ngIf="appSetting.isVideo(obj.local_attached_file)"
    style="height: 100%; width: 100%;">
    <source [src]="obj.local_attached_file" type="video/mp4">
    <source [src]="obj.local_attached_file" type="video/ogg">
    Your browser does not support the HTML5 Video element.
  </video>
  <img src="../../assets/icon/document.png" alt="" style="height: 100%; width: 100%;"
    *ngIf="appSetting.isFile(obj.local_attached_file)">
</div> -->
