<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-with-sync-indicator></ion-menu-with-sync-indicator>
    </ion-buttons>
    <ion-title>
      {{ 'guides.header' | translate:params }}
    </ion-title>

    <ion-back-button text=""></ion-back-button>
  </ion-toolbar>
  <ion-toolbar class="search-toolbar">
    <ion-searchbar animated="true" autocomplete="on" debounce="250"
      placeholder="{{ 'Search guides by current category' | translate:params }}" (ionChange)="searchGuides($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="grey-background">
  <span *ngIf="isLoadedContent">
    <div *ngIf="guideCategory && guideCategory.guides && guideCategory.guides.length">
      <h4 class="ion-margin-horizontal">{{ 'guide-categories.category' | translate:params }}: {{ guideCategory.name }}
      </h4>
      <guide-list-component [guides]="guideCategory.guides" [guideCategoryId]="guideCategory.idApi">
      </guide-list-component>
    </div>
  </span>
</ion-content>