<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'guides.header' | translate:params }}
    </ion-title>
    <sync-spinner-component slot="primary"></sync-spinner-component>
    <ion-back-button text=""></ion-back-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true"
                   autocomplete="on"
                   debounce="250"
                   placeholder="{{ 'Search guides by current category' | translate:params }}"
                   (ionChange)="searchGuides($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <span *ngIf="isLoadedContent">
      <div *ngIf="guideCategory && guideCategory.guides && guideCategory.guides.length">
        <h4 class="ion-margin-horizontal">{{ 'guide-categories.category' | translate:params }}: {{ guideCategory.name }}</h4>
        <guide-list-component [guides]="guideCategory.guides"></guide-list-component>
      </div>
  </span>
</ion-content>
