<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'guides.header' | translate:params }}
    </ion-title>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true"
                   autocomplete="on"
                   debounce="250"
                   placeholder="{{ 'search' | translate:params }}"
                   (ionChange)="searchGuides($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let guideCategory of guideCategories">
      <div *ngIf="guideCategory.guides &&  guideCategory.guides.length">
        <ion-item>
          <h1>
            {{ guideCategory.name }}
          </h1>
        </ion-item>
        <ion-list>
          <div class="guide-row" *ngFor="let item of guideCategory.guides">
            <div class="guide-preview" slot="start" [routerLink]="['/guide/' + item.idApi]">
              <img *ngIf="item.getImage()" [src]="item.getImage()">
              <img *ngIf="!item.getImage()" src="assets/placeholder.jpg">
              <div class="shortname-label badge badge-secondary">
                {{ item.short_name }}
              </div>
            </div>
            <div class="guide-info">
              <h2>
                {{item.title}}
              </h2>
              <p class="guide-description">
                {{item.description}}
              </p>
              <p *ngIf="item.duration">
                {{ 'guides.duration' | translate:params }}: {{ item.getDuration() }}
              </p>
              <p *ngIf="item.revision">
                {{ 'guides.revision' | translate:params }}: {{ item.revision }}
              </p>
              <ion-button class="show-guide-btn" [routerLink]="['/guide/' + item.idApi]">
                <ion-icon class="show-guide-play-icon" slot="start" name="arrow-dropright-circle"></ion-icon>
                {{ 'guides.Show Guide' | translate:params }}
              </ion-button>
              <ion-button *ngIf="item.protocol_template"
                          class="show-guide-btn"
                          color="medium"
                          (click)="openProtocol(item)"
              >
                <ion-icon class="show-guide-play-icon" slot="start" name="list"></ion-icon>
                {{ 'guides.Protocol' | translate:params }}
              </ion-button>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
</ion-content>
