.guide_preview {
    max-height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 52px;

    fa-icon,
    .ion-icon {
        font-size: 32px;
        margin: 16px;
    }
}

.stretch_item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.edit_btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffffde;
    border: 1px solid #eee;
    border-radius: 100%;
}

ion-card-content {
    background: #fff;
}

.html_element {
    max-height: 144px;
    overflow-y: scroll;
    * {
        white-space: normal;
        font-size: 13px;
        font-weight: 400;
    }
}

.floating_ordernumber {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px;
    background: #ffffffde;
    color: #000;
    font-weight: 900;
}

.floating_cta {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;

    ion-button {
        --background: #173262;
    }
}

ion-reorder {
    background: #ffffff33;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
