ion-menu-button {
  &::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background: #fff;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    right: 7px;
  }
}

ion-menu-button.allSynced {
  &::after {
    background: green;
  }
}

ion-menu-button.dataAvailable {
  &::after {
    background: orange;
  }
}

ion-menu-button.error {
  &::after {
    background: red;
  }
}
