<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <ion-list>
    <ion-reorder-group [disabled]="disableReorder" (ionItemReorder)="Reorder($event)">
      <ion-item-sliding *ngFor="let step of guideSteps; trackBy: tracklist">
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="showDeleteAlert(step)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item detail="true" button (click)="onEdit(step)">
          <ion-reorder slot="start" *ngIf="disableReorder == false"></ion-reorder>

          <!-- audio video pdf image text thumbnails with no preview >> show icon and dark bg -->
          <ion-thumbnail slot="start" *ngIf="step.getFileImagePath() == null && step.isAudioFile()" class="no__preview"
            style="padding: 8px;">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <ion-thumbnail slot="start" *ngIf="step.getFileImagePath() == null && step.isVideoFile()" class="no__preview">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <ion-thumbnail slot="start"
            *ngIf="step.getFileImagePath(guideAssetModelFileMapIndexEnum.PDF_FILE_IMAGE) == null && step.isPdf()"
            class="no__preview">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <ion-thumbnail slot="start" class="no__preview" *ngIf="step.getFileImagePath() == null && step.isImageFile()">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <!-- text -->
          <ion-thumbnail slot="start" style="padding: 8px;"
            *ngIf="!step.isAudioFile() && !step.isVideoFile() && !step.isPdf() && !step.isPdf() && !step.isImageFile()"
            class="no__preview">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <!-- has preview -->
          <ion-thumbnail slot="start"
            *ngIf="step.getFileImagePath(guideAssetModelFileMapIndexEnum.PDF_FILE_IMAGE) != null && step.isPdf()">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <ion-thumbnail slot="start" *ngIf="step.getFileImagePath() != null && step.isExistFormatFile()">
            <model-assetcomponent [preventDefaultClickFunction]="true" [model]="step" [isthumbnail]="true"
              [floatingIcon]="false"></model-assetcomponent>
          </ion-thumbnail>

          <ion-label>
            <h2> <strong>#{{step.order_number}} {{step.title}}</strong></h2>
            <div *ngIf="step.description_html" class="ion-text-left" class="html_element">
              <p>
                <html-description-component [html]="step.description_html" [sliceText]="true" class="step-description">
                </html-description-component>
              </p>
            </div>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-buttons class="floating_cta" *ngIf="canReorder && !isScrolling">
  <ion-button (click)="onReorder()" *ngIf="disableReorder && guideSteps?.length > 0" fill="solid">{{ 'Order' |
    translate:params }}</ion-button>
  <ion-button (click)="save()" *ngIf="!disableReorder" fill="solid">Save</ion-button>
</ion-buttons>