<style>
  section {
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
</style>

<section *ngIf="this.authService.isHaveUserRole('Betatest')">
  <ion-item>
    <ion-toggle [checked]="resumeMode" (ionChange)="changeResumeMode()"></ion-toggle>
    <ion-label>{{ 'synchronization-component.Enable Resume Synchronisation' | translate:params }}</ion-label>
  </ion-item>
</section>

<section>
  <h4>
    {{ 'synchronization-component.Sync Modes' | translate:params }}
  </h4>
  <ion-segment (ionChange)="changeSyncMode($event)" color="secondary" value="{{ modeSync }}">
    <ion-segment-button value="0">
      <ion-label>
        {{ 'synchronization-component.Manually' | translate:params }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="!appSetting.isEnabledUsb" value="1">
      <ion-label>
        {{ 'synchronization-component.Online' | translate:params }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>
        {{ 'synchronization-component.Periodic' | translate:params }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</section>

<section>
  <ion-button color="danger" style="max-width: 100%; height: 100%; white-space: normal;"
    (click)="showRefreshDataAlert()">
    <span style="padding: 5px;">
      {{ 'synchronization-component.Re-sync data' | translate:params }}
    </span>
  </ion-button>
</section>
