<style>
  section {
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
</style>

<section>
  <h4>Sync Modes</h4>
  <ion-segment (ionChange)="changeSyncMode($event.detail.value)"
               color="secondary"
               value="{{ modeSync }}"
  >
    <ion-segment-button value="0">
      <ion-label>Manually</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Online</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Periodic</ion-label>
    </ion-segment-button>
  </ion-segment>
</section>

<section>
  <ion-button (click)="showRefreshDataAlert()">
    Re-sync data
  </ion-button>
</section>
