<style>
  ion-progress-bar {
    height: 30px;
  }
  section {
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
</style>

<ion-chip *ngIf="modeSync === 0">
  <ion-label (click)="syncData()" *ngIf="!isStartSync" color="primary">Synchronize Data</ion-label>
  <ion-label *ngIf="isStartSync" color="primary">Is synchronization</ion-label>
<!--  <ion-label (click)="stopSyncData()" *ngIf="syncProgressStatus === 'progress' || syncProgressStatus === 'resume'" color="success">Stop</ion-label>-->
<!--  <ion-label (click)="resumeSyncData()" *ngIf="syncProgressStatus === 'pause'" color="success">Resume</ion-label>-->
<!--  <ion-label (click)="cancelSyncData()" *ngIf="syncProgressStatus === 'progress' || syncProgressStatus === 'resume' || syncProgressStatus === 'pause'" color="success">Cancel</ion-label>-->
</ion-chip>
<ion-card>
  <div *ngIf="syncProgressStatus === 'progress' || syncProgressStatus === 'resume'">
    In progress
    <span *ngIf="isPrepareSynData">
      (Prepare data)
    </span>
  </div>
  <div *ngIf="syncProgressStatus === 'pause'">Pause</div>
  <div *ngIf="syncProgressStatus === 'failed'">Failed</div>
  <div *ngIf="syncProgressStatus === 'success'">Success</div>
  <div *ngIf="syncProgressStatus === 'no_sync_data'">No data for sync</div>
</ion-card>

<ion-progress-bar value="{{ syncedItemsPercent / 100 }}">
</ion-progress-bar>
{{ syncedItemsPercent }}%

<br>
<section>
  <h4>Sync Modes</h4>
  <ion-segment (ionChange)="changeSyncMode($event.detail.value)" color="secondary">
    <ion-segment-button value="0" [checked]="modeSync === 0">
      <ion-label>Manually</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" [checked]="modeSync === 1">
      <ion-label>Online</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" [checked]="modeSync === 2">
      <ion-label>Periodic</ion-label>
    </ion-segment-button>
  </ion-segment>
</section>

<!--<ion-card *ngIf="isStartSync || (syncProgressStatus !== 'not_sync' && syncProgressStatus !== 'failed' && syncProgressStatus !== 'no_sync_data')">-->
<!--  <div class="card">-->
<!--    <div class="item item-text-wrap">-->
<!--      <div [ngClass]="{loader: true, failed: syncProgressStatus === 'failed', success: (syncProgressStatus === 'success' || syncProgressStatus === 'resume'), pause: syncProgressStatus === 'pause', progress: syncProgressStatus === 'progress'}"-->
<!--           [style.width]="syncedItemsPercent + '%'"-->
<!--      >-->
<!--        <p class="percent">{{ syncedItemsPercent }}%</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ion-card>-->
<!--<hr>-->
<!--<ion-chip>-->
<!--  <ion-label (click)="pushData()" *ngIf="!isStartPush" color="success">Send Data</ion-label>-->
<!--  <ion-label (click)="stopPushData()" *ngIf="isStartPush" color="success">Is Sending</ion-label>-->
<!--</ion-chip>-->
<!--<ion-card>-->
<!--  <div *ngIf="pushProgressStatus === 'progress' || pushProgressStatus === 'resume'">In progress</div>-->
<!--  <div *ngIf="pushProgressStatus === 'pause'">Pause</div>-->
<!--  <div *ngIf="pushProgressStatus === 'failed'">Failed</div>-->
<!--  <div *ngIf="pushProgressStatus === 'success'">Success</div>-->
<!--  <div *ngIf="pushProgressStatus === 'no_push_data'">No data for push</div>-->
<!--</ion-card>-->

<!--<ion-card *ngIf="isStartPush || (pushProgressStatus !== 'not_push' && pushProgressStatus !== 'failed' && pushProgressStatus !== 'no_push_data'  && pushProgressStatus !== 'initial')">-->
<!--  <div class="card">-->
<!--    <div class="item item-text-wrap">-->
<!--      <div [ngClass]="{loader: true, failed: pushProgressStatus === 'failed', success: (pushProgressStatus === 'success' || pushProgressStatus === 'resume'), pause: pushProgressStatus === 'pause', progress: pushProgressStatus === 'progress'}"-->
<!--           [style.width]="pushedItemsPercent + '%'"-->
<!--      >-->
<!--        <p class="percent">{{ pushedItemsPercent }}%</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ion-card>-->
<!--<hr>-->
<!--<ion-card *ngIf="pushProgressStatus === 'progress'">-->
<!--  <div class="card">-->
<!--    <div>-->
<!--      Saving files:-->
<!--    </div>-->
<!--    <div *ngFor="let progressFileInformationKey of objectKeys(progressFileInformations)"-->
<!--         class="item item-text-wrap"-->
<!--    >-->
<!--      <div *ngIf="progressFileInformations[progressFileInformationKey]"-->
<!--           [ngClass]="{loader: true, success: true}"-->
<!--           [style.width]="progressFileInformations[progressFileInformationKey] + '%'"-->
<!--      >-->
<!--        <p class="percent">{{ progressFileInformations[progressFileInformationKey] }}%</p>-->
<!--      </div>-->
<!--      <div>-->
<!--        File: {{ progressFileInformationKey }}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ion-card>-->
