<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ action == 'add' ? 'guidestep.add' : 'guidestep.edit' | translate }} </ion-title>
    <sync-spinner-component slot="primary"></sync-spinner-component>
    <ion-back-button text=""></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab class="big-fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="attach"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addFileCapacitor()" color="primary">
        <ion-icon name="folder"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addPhotoUsingCamera()" color="primary">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addVideoUsingCamera()" color="primary">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <form *ngIf="model">
    <ion-list>
      <ion-item class="" *ngIf="action =='add'">
        <ion-label position="floating">{{ 'Order' | translate:params }}: </ion-label>
        <ion-input [(ngModel)]="model.order_number" name="order" clear-input type="number" min="1"> </ion-input>
      </ion-item>

      <ion-item class="">
        <ion-label position="floating"> {{ 'title' | translate:params }}: </ion-label>
        <ion-input [(ngModel)]="model.title" name="title" placeholder="{{ defaultTitle }}" clear-input
          (ionChange)="onChanges($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'guidestep.Description' | translate:params }}:</ion-label>
        <ckeditor class="inline_editor" [editor]="Editor" [(ngModel)]="model.description_html" [config]="ckeConfig"
          name="description" (change)="editorChanges()" disabled="true">
        </ckeditor>

        <ion-buttons slot="end" style="position: absolute;  right: 0;">
          <ion-button (click)="openEditor()">{{ 'guidestep.Open in editor' | translate:params }}</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>

    <div *ngIf="model.attached_file" class="top-file" style="padding: 8px;">
      <model-assetcomponent [model]="model" mini="true" [solid_icon_color]="true"></model-assetcomponent>
    </div>

    <ion-row class="buttons">
      <ion-col>
        <ion-button expand="block" (click)="save()" [disabled]="!shouldUpdate">
          {{ 'save' | translate:params }}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="action == 'edit'">
        <ion-button color="danger" expand="block" (click)="showDeleteAlert()">
          {{ 'delete' | translate:params }}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="action == 'add'">
        <ion-button color="danger" expand="block" (click)="onCancel()">
          {{ 'cancel' | translate:params }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>