<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'feedback.header' | translate:params }}
    </ion-title>
    <ion-back-button text=""></ion-back-button>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab class="big-fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="attach"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addFileCapacitor()" color="primary">
        <ion-icon name="folder"></ion-icon>
      </ion-fab-button>
<!--       <ion-fab-button color="primary">
        <ion-icon name="folder" style="position: absolute;"></ion-icon>
        <input type="file" style="opacity: 0;height: 100%;" (change)="addFile($event)" #filePicker/>
      </ion-fab-button> -->
      <ion-fab-button (click)="addPhotoUsingCamera()" color="primary">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addVideoUsingCamera()" color="primary">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <form>
    <ion-list>
      <ion-item class="feedback-title">
        <ion-label position="floating">
          {{ 'title' | translate:params }}:
        </ion-label>
        <ion-input
                [(ngModel)]="model.title"
                name="title"
                placeholder="{{ defaultTitle }}"
                clear-input>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'feedback.Description' | translate:params }}:</ion-label>
        <ion-textarea [(ngModel)]="model.description"
                      name="description"
                      placeholder="{{ 'feedback.Note description' | translate:params }}"
                      rows="5"
                      cols="33"
                      style="display: block;">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ 'Status' | translate:params }}
        </ion-label>
        <span>
          {{ model.status | translate:params }}
        </span>
      </ion-item>
    </ion-list>

    <div *ngIf="model.attached_file" class="top-file">
      <div class="ion-text-center wrapper">
        <img *ngIf="model.isImageFile()"
             height="280"
             (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)"
             [src]="model.getFileImagePath()">
        <div *ngIf="model.isVideoFile()"
             (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)"
             [ngClass]="{'video-with-thumbnail': model.isExistThumbOfFile()}"
        >
          <img *ngIf="model.isExistThumbOfFile()"
               [src]="model.getFileImagePath()"
          />
          <ion-icon *ngIf="model.isExistThumbOfFile()"
                    name="videocam"
                    class="videocam-icon"
                    slot="start"
          >
          </ion-icon>
          <img *ngIf="!model.isExistThumbOfFile()"
               [src]="'/assets/videooverlay.png'"
          >
        </div>
        <ion-icon *ngIf="model.isPdf()"
                  class="videocam-icon"
                  name="document"
                  (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)"
        >
        </ion-icon>
        <ion-icon name="musical-notes"
                  class="videocam-icon"
                  slot="start"
                  *ngIf="model.isAudioFile()"
                  (click)="openFile(model.getFileName(), model.TABLE_NAME, model.title)"
        >
        </ion-icon>
        <ion-icon *ngIf="!model.isExistFormatFile()"
                  class="videocam-icon"
                  name="cloud-upload"
        >
        </ion-icon>
      </div>
    </div>

    <ion-row class="buttons">
      <ion-col>
        <ion-button expand="block" (click)="save()">
          {{ 'save' | translate:params }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="model[model.COL_ID]" color="danger" expand="block" (click)="showDeleteAlert()">
          {{ 'delete' | translate:params }}
        </ion-button>

        <ion-button *ngIf="!model[model.COL_ID]" color="danger" expand="block" (click)="showDeleteAlert()">
          {{ 'Cancel' | translate:params }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
 
</ion-content>
