$big-fab-width: 70px;
$big-fab-list-left-padding: 10px;
$big-fab-list-width: calc(#{$big-fab-width} - 2 * #{$big-fab-list-left-padding});
$big-fab-list-margin-bottom: calc(#{$big-fab-width} + 10px);
$videocam-font-size: 50px;


.video-icon {
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}

.videocam-icon {
  font-size: 100px;
  color: red;
}

.big-fab {
  ion-fab-list {
    padding-left: $big-fab-list-left-padding;
    margin-bottom: $big-fab-list-margin-bottom;
    ion-fab-button {
      width: $big-fab-list-width;
      height: $big-fab-list-width;
    }
  }
  ion-fab-button {
    width: $big-fab-width;
    height: $big-fab-width;
  }
}

.videocam-icon {
  font-size: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-file {
  max-height: 35%;
  display: flex;
  flex-direction: column;
  .wrapper {
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    img {
      flex: 0 1 auto;
      position: relative;
      overflow-y: auto;
      object-fit: scale-down;
    }
    .video-with-thumbnail {
      .videocam-icon {
        font-size: 5vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

