.loader{
  &.failed {
    background: #f20d49 !important;
  }
  &.success {
    background: green !important;
  }
  &.progress {
    background: green !important;
  }
  &.pause {
    background: blue !important;
  }
  border-radius:100px;
  height:20px;
  p{
    text-align:center;
    color:white !important;
  }
}

ion-buttons {
  margin-right: 20px;
}

ion-spinner {
  font-size: 25px;
}

.wifi-icon {
  font-size: 25px;
}

.sync-status {
  margin-left: 5px;
  font-size: 25px;
}
