<ng-container *ngIf="stateService.isLoggedin">

    <ng-container *ngIf="syncService.isAvailableForPushData">
      <ion-icon style="font-size: 27px" class="orangeColor" name="send"></ion-icon>
    </ng-container>

    <ng-container *ngIf="stateService.isEnabledUsb">
      <ion-icon style="font-size: 27px" *ngIf="!syncService.isAvailableForPushData" name="laptop"></ion-icon>
    </ng-container>

    <ng-container *ngIf="!isNetwork && !stateService.isEnabledUsb">
      <ion-icon style="font-size: 27px" *ngIf="syncService.isAvailableForPushData" name="cloud-outline"></ion-icon>
    </ng-container>

    <ng-container *ngIf="isNetwork || stateService.isEnabledUsb">

      <ng-container *ngIf="(syncService.isStartSync && syncService.syncStatus === 'progress')">
        <ion-spinner style="font-size: 27px" name="lines" style="color:#fff"></ion-spinner>
      </ng-container>

      <ng-container *ngIf="!(syncService.isStartSync && syncService.syncStatus === 'progress')">

        <ng-container *ngIf="syncService.isAvailableForSyncData">
          <ion-icon style="font-size: 27px" name="sync" class="orangeColor"></ion-icon>
        </ng-container>

        <ng-container *ngIf="!syncService.isAvailableForSyncData">
          <ion-icon style="font-size: 27px" *ngIf="syncService.syncStatus === 'synced'" color="success" name="checkmark-circle"></ion-icon>
          <ion-icon style="font-size: 27px" *ngIf="syncService.syncStatus === 'pause'" name="pause"></ion-icon>
          <ion-icon style="font-size: 27px" *ngIf="syncService.syncStatus === 'failed'" color="danger" name="alert"></ion-icon>
          <ion-icon style="font-size: 27px" *ngIf="syncService.syncStatus === 'wifi-icon'" class="wifi-icon" name="wifi"></ion-icon>
        </ng-container>

      </ng-container>
    </ng-container>

</ng-container>
