<ion-header>
  <ion-toolbar class="header_bg" [style.padding-top]="platform.is('ipad')? '20px': ''">
    <ion-title> {{ 'sync-modal.header' | translate:params }} </ion-title>
    <sync-spinner-component [shouldOpenPopup]="false" slot="start"> </sync-spinner-component>
  
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" style="color: #ffffff; font-size: 24px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="vertical-align-content ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <section>
          <h6>{{ 'sync-modal.Last successful sync date:' | translate:params }}</h6>
          {{ this.getLastSyncDate() }}
        </section>
        <div *ngIf="isNetwork || appSetting.isEnabledUsb">
          <section>
            <app-progress-bar [progress]="syncedItemsPercent"
              [color]="syncProgressStatus === 'failed' ? '#989aa2' : '#babcbf'"></app-progress-bar>
            <div style="font-size: 15px">
              {{ syncedItemsCount }}/{{ syncAllItemsCount }}{{getProgressText()}}
              <span style="font-size: 15px"
                *ngIf="syncProgressStatus === 'progress' || syncProgressStatus === 'resume'">
                {{ 'sync-modal.In progress' | translate:params }}<span class="dot1">.</span><span
                  class="dot2">.</span><span class="dot3">.</span>
              </span>
            </div>
          </section>

          <section *ngIf="modeSync === 0" class="modeSync0">
            <span *ngIf="!isStartSync" class="notStartSync">
              <ion-button class="sync-btn" *ngIf="!['progress', 'resume', 'pause'].includes(syncProgressStatus)"
                (click)="syncData()" color="primary">
                {{ 'sync-modal.Synchronize Data' | translate:params }}
              </ion-button>
              <ion-button *ngIf="syncProgressStatus === 'pause'" (click)="resumeSyncData()" color="primary">
                {{ 'sync-modal.Resume' | translate:params }}
              </ion-button>
            </span>
            <span *ngIf="isStartSync">
              <ion-button *ngIf="['progress', 'resume'].includes(syncProgressStatus)" (click)="stopSyncData()"
                color="primary">
                {{ 'sync-modal.Stop' | translate:params }}
              </ion-button>
            </span>
            <ion-button style="margin-left: 8px" *ngIf="['progress', 'resume', 'pause'].includes(syncProgressStatus)"
              (click)="cancelSyncData()" color="primary">
              {{ 'sync-modal.Cancel' | translate:params }}
            </ion-button>
          </section>
        </div>
        <div *ngIf="!isNetwork && !appSetting.isEnabledUsb">
          <div>{{ 'sync-modal.No network connection.' | translate:params }}</div>
          <div>{{ 'sync-modal.Data synchronization is not yet possible.' | translate:params }}</div>
        </div>
        <section *ngIf="isAvailableForPushData" style="color: green">
          {{ 'sync-modal.There is data available for pushing to the server.' | translate:params }}
        </section>
        <section *ngIf="!(isStartSync && ['progress', 'resume'].includes(syncProgressStatus)) && isAvailableForSyncData"
          style="color: green">
          {{ 'sync-modal.There is data available for synchronization from the server.' | translate:params }}
        </section>
        <div *ngIf="pushProgressStatus === 'failed'">{{ 'sync-modal.Sending data to the server failed.' |
          translate:params }}</div>
        <div *ngIf="pushProgressStatus === 'progress'">{{ 'sync-modal.Data is sent to the server' | translate:params }}
        </div>
        <div *ngIf="pushProgressStatus === 'success'">{{ 'sync-modal.Data has been sent to the server' |
          translate:params }}</div>
        <div *ngIf="noDataForSync">{{ 'sync-modal.No data for sync' | translate:params }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>