<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'start.header' | translate:params }}
    </ion-title>
    <sync-spinner-component slot="primary"></sync-spinner-component>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'bg-camera': isScanning}">
  <div class="ion-text-center">
    <ion-button *ngIf="isScanning"
                id="close-scanner-button"
                (click)="closeScanner()"
                color="warning"
    >
      {{ 'qr.Close Scanner' | translate:params }}
    </ion-button>
  </div>
  <ion-card *ngIf="!isScanning" [ngClass]="{'bg-none': isScanning}">
    <ion-card-header>
      <p>
        {{ 'qr.The Guider app enables the display of digital instructions (assembly, training, etc.)' | translate:params }}
      </p>
      <p>
        {{ 'qr.The app only works with a customer account. Please contact taktwerk GmbH for this' | translate:params }}: <a href="mailto:support@taktwerk.ch">support@taktwerk.ch</a>
      </p>
      <div class="ion-text-center">
        <h1>
          {{ 'qr.Setup' | translate:params }}
        </h1>
        <ion-list>
          <ion-item>
            <ion-label>{{ 'Enable USB mode' | translate:params }}</ion-label>
            <ion-toggle slot="start"
                        checked="{{ appSetting.isEnabledUsb }}"
                        (click)="changeUsbMode()"
            >
            </ion-toggle>
          </ion-item>
        </ion-list>
        <p>{{ 'qr.Scan the received' | translate:params }}<strong>
          {{ 'qr.QR-Code' | translate:params }}</strong>
        </p>
        <ion-button size="large" expand="full" (click)="scanQrcode()">
          <ion-icon name="qr-scanner"></ion-icon>
          {{ 'qr.QR-Code' | translate:params }}
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
