<ion-split-pane when="(min-width: 100%)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Guider App</ion-title>
        <ion-buttons slot="end" style="font-size: 22px; padding-right:20px">
          <sync-spinner-component slot="primary" (click)="openSyncModal()"> </sync-spinner-component>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="grey-background">
      <ion-list class="header-list">
        <ng-container *ngFor="let p of appPages">
          <ion-menu-toggle auto-hide="false" *ngIf="p.condition()">
            <ion-item *ngIf="p.url" [routerDirection]="(p.url === '/guide-categories') ? 'root' : 'forward'"
              [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
